# Directories #
jh-project-notes/
.idea/*
config/proxies.py
config/*_credentials.py
# Data files #

*.pyc
*.png
*.csv
*.rds
*.xlsx
*.xlsm
*.xml
*.tsv
*.spacy
*.hyper
webpages/*
*.eps
*.pdf

!data/data.csv
*.DS_Store

scripts/local_*.py
.vscode/