appnope==0.1.3
asttokens==2.2.1
async-generator==1.10
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
behave==1.2.6
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
chromedriver-autoinstaller==0.6.2
colorama==0.4.6
contourpy==1.1.0
cssselect==1.2.0
cycler==0.11.0
decorator==5.1.1
Deprecated==1.2.14
exceptiongroup==1.1.3
execnet==2.0.2
executing==1.2.0
fake-useragent==1.1.3
fasteners==0.18
filelock==3.12.2
fonttools==4.40.0
google-api-core==2.11.1
google-auth==2.20.0
google-auth-oauthlib==0.5.3
google-cloud-core==2.3.2
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
h11==0.14.0
html5lib==1.1
idna==3.4
importlib-resources==5.12.0
iniconfig==2.0.0
ipython==8.10.0
jedi==0.18.2
kiwisolver==1.4.4
lxml==4.9.1
markdown-it-py==3.0.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
numpy==1.22.3
oauthlib==3.2.2
outcome==1.2.0
packaging==23.1
pandas==1.4.2
parameterized==0.9.0
parse==1.19.1
parse-type==0.6.2
parso==0.8.3
pdbp==1.4.6
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.10.0
pluggy==1.2.0
prompt-toolkit==3.0.38
protobuf==4.23.3
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyGithub==1.55
Pygments==2.16.1
PyJWT==2.7.0
PyNaCl==1.5.0
pynose==1.4.8
pyotp==2.9.0
pyparsing==3.0.9
PySocks==1.7.1
pytest==7.4.0
pytest-html==2.0.1
pytest-metadata==3.0.0
pytest-ordering==0.6
pytest-rerunfailures==12.0
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.5.2
rsa==4.9
sbvirtualdisplay==1.2.0
scipy==1.10.1
seaborn==0.11.2
selenium==4.11.2
seleniumbase==4.17.7
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
stack-data==0.6.2
tabcompleter==1.2.1
tabulate==0.8.10
tomli==2.0.1
traitlets==5.9.0
trio==0.22.2
trio-websocket==0.10.3
tweepy==4.9.0
undetected-chromedriver==3.5.2
urllib3==1.26.16
wcwidth==0.2.6
webdriver-manager==4.0.0
webencodings==0.5.1
websockets==11.0.3
wrapt==1.15.0
wsproto==1.2.0
zipp==3.15.0
